* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  color: #333333;
}

.container {
  max-width: 1110px;
  margin: auto;
}

img {
  max-width: 100%;
}

.navbar {
  background-color: #FFFFFF;
}

.navbar-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__search {
  margin: auto;
  margin-left: 108px;
}

.navbar-menu {
  padding: 31px 0;
  background-color: #0A223D;
}

.navbar-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  color: #F5FAFE;
}

.navbar-menu__link {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

.navbar__menu-button {
  display: none;
}

.logo {
  max-width: 177px;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 40px;
  overflow: hidden;
  border-radius: 6px;
}

.search__input {
  padding-left: 23px;
  padding-right: 75px;
  width: 350px;
  height: 100%;
  font-size: 12px;
  border: none;
  color: #333333;
  background-color: #F5FAFE;
}

.search__button {
  position: absolute;
  width: 65px;
  height: 100%;
  top: 0;
  right: 0;
  border: none;
  cursor: pointer;
  background-color: #EC1F46;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.user__avatar {
  margin-right: 18px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.user__name {
  font-size: 14px;
  cursor: pointer;
  color: #333333;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 700px;
  }
  .navbar-top {
    padding: 30px 0;
  }
  .navbar__search {
    margin-left: auto;
  }
  .navbar-menu {
    padding: 22px 0;
  }
  .navbar-menu__link {
    font-size: 12px;
    line-height: 15px;
  }
  .logo {
    max-width: 132px;
  }
  .search__input {
    width: 340px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 576px;
    width: 90%;
  }
  .navbar-top {
    padding: 28px 0;
  }
  .navbar__search, .navbar__user, .navbar-menu {
    display: none;
  }
  .menu-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 16px;
    height: 11px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border: none;
    cursor: pointer;
    background-color: #FFFFFF;
  }
  .menu-button__line {
    width: 16px;
    height: 1px;
    background-color: #333333;
  }
}

@media (max-width: 576px) {
  .logo {
    max-width: 99px;
  }
}
