* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  background-color: #F5FAFE;
  color: #333333;
}

.container {
  max-width: 1110px;
  margin: auto;
}

img {
  max-width: 100%;
}

.navbar {
  background-color: #FFFFFF;
}

.navbar-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar-top__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 40px;
  overflow: hidden;
  border-radius: 6px;
}

.navbar-top__search-input {
  padding-left: 23px;
  padding-right: 75px;
  width: 350px;
  height: 100%;
  font-size: 12px;
  border: none;
  color: #333333;
  background-color: #F5FAFE;
}

.navbar-top__search-button {
  position: absolute;
  width: 65px;
  height: 100%;
  top: 0;
  right: 0;
  border: none;
  cursor: pointer;
  background-color: #EC1F46;
}

.navbar-top__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.navbar-top__user-avatar {
  margin-right: 18px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.navbar-top__user-name {
  font-size: 14px;
  cursor: pointer;
  color: #333333;
}

.navbar-top__menu-button {
  display: none;
}

.logo {
  max-width: 177px;
}

.search {
  margin: auto;
  margin-left: 108px;
}

.navbar-menu {
  padding: 31px 0;
  background-color: #0A223D;
}

.navbar-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  color: #FFFFFF;
}

.navbar-menu__link {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

.breadcrumb__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 18px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.breadcrumb__list-item {
  font-size: 12px;
  line-height: 13px;
  color: #333333;
}

.breadcrumb__list-item:not(:last-child)::after {
  content: '/';
  margin-right: 4px;
}

.breadcrumb__link {
  text-decoration: none;
  color: inherit;
}

.hotel {
  padding-top: 23px;
  padding-bottom: 70px;
}

.hotel-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hotel-info__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 9px 7px;
  max-width: 65px;
  min-height: 45px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: none;
  border-radius: 4px;
  background: #EC1F46;
}

.hotel-info__rating-text {
  font-weight: 600;
  font-size: 8px;
  line-height: 10px;
  color: #FFFFFF;
}

.hotel-info__rating-score {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
}

.text__hotel-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text__hotel-description {
  margin: 0;
  font-size: 12px;
  line-height: 15px;
  color: #333333;
}

.hotel-wrapper__stars {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.hotel-wrapper__hotel-name {
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #333333;
}

.hotel-wrapper__offer {
  margin-left: 14px;
  padding: 4px 9px;
  max-width: 70px;
  min-height: 20px;
  font-weight: 600;
  font-size: 10px;
  line-height: 13px;
  border: none;
  border-radius: 3px;
  color: #FFFFFF;
  background-color: #EC1F46;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 700px;
  }
  .navbar-top {
    padding: 30px 0;
  }
  .navbar-top__search {
    margin-left: auto;
  }
  .navbar-top__search-input {
    width: 340px;
  }
  .logo {
    max-width: 132px;
  }
  .navbar-menu {
    padding: 22px 0;
  }
  .navbar-menu__link {
    font-size: 12px;
    line-height: 15px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 576px;
    width: 90%;
  }
  .navbar-top {
    padding: 28px 0;
  }
  .navbar-top__search, .navbar-top__user {
    display: none;
  }
  .navbar-top__menu-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    width: 16px;
    height: 11px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border: none;
    cursor: pointer;
    background-color: #FFFFFF;
  }
  .navbar-top__menu-button-line {
    width: 16px;
    height: 1px;
    background-color: #333333;
  }
  .navbar-menu {
    display: none;
  }
  .hotel {
    padding-top: 0;
    padding-bottom: 40px;
  }
  .hotel-info__text {
    width: 100%;
  }
  .hotel-info__rating {
    display: none;
  }
  .hotel-wrapper__stars {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
  .hotel-wrapper__hotel-name {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-top: 10px;
  }
  .hotel-wrapper__offer {
    margin-left: 0;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

@media (max-width: 576px) {
  .logo {
    max-width: 99px;
  }
}
