* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  background-color: #F5FAFE;
  color: #333333;
}

.container {
  max-width: 1110px;
  margin: auto;
}

img {
  max-width: 100%;
}

.booking {
  font-family: "Nunito", sans-serif;
}

.navbar {
  background-color: #FFFFFF;
}

.navbar-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar-top__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 40px;
  overflow: hidden;
  border-radius: 6px;
}

.navbar-top__search-input {
  padding-left: 23px;
  padding-right: 75px;
  width: 350px;
  height: 100%;
  font-size: 12px;
  border: none;
  color: #333333;
  background-color: #F5FAFE;
}

.navbar-top__search-button {
  position: absolute;
  width: 65px;
  height: 100%;
  top: 0;
  right: 0;
  border: none;
  cursor: pointer;
  background-color: #EC1F46;
}

.navbar-top__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.navbar-top__user-avatar {
  margin-right: 18px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.navbar-top__user-name {
  font-size: 14px;
  cursor: pointer;
  color: #333333;
}

.navbar-top__menu-button {
  display: none;
}

.logo {
  max-width: 177px;
}

.search {
  margin: auto;
  margin-left: 108px;
}

.navbar-menu {
  padding: 31px 0;
  background-color: #0A223D;
}

.navbar-menu__item--mobile-visible {
  display: none;
}

.navbar-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  color: #FFFFFF;
}

.navbar-menu__link {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

.breadcrumb__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 18px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.breadcrumb__list-item {
  font-size: 12px;
  line-height: 13px;
  color: #333333;
}

.breadcrumb__list-item:not(:last-child)::after {
  content: '/';
  margin-right: 4px;
}

.breadcrumb__link {
  text-decoration: none;
  color: inherit;
}

.hotel {
  padding-top: 23px;
  padding-bottom: 70px;
}

.hotel-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hotel-info__rating {
  max-width: 65px;
  min-height: 45px;
  text-align: center;
  border-radius: 4px;
  color: #FFFFFF;
  background-color: #EC1F46;
}

.hotel-info__rating-text {
  font-weight: 600;
  font-size: 8px;
  line-height: 10px;
}

.hotel-info__rating-score {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
}

.text__hotel-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text__hotel-description {
  margin: 0;
  font-size: 12px;
  line-height: 15px;
  color: #333333;
}

.hotel-wrapper__stars {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.hotel-wrapper__hotel-name {
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #333333;
}

.hotel-wrapper__offer {
  margin-left: 14px;
  padding: 4px 9px;
  max-width: 70px;
  min-height: 20px;
  font-weight: 600;
  font-size: 10px;
  line-height: 13px;
  border-radius: 3px;
  color: #FFFFFF;
  background-color: #EC1F46;
}

.hotel-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hotel-slider {
  margin: 0;
  width: 728px;
  height: 450px;
}

.hotel-slider__container {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.hotel-slider__container::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  content: '';
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 122, 223, 0.48)), to(rgba(255, 255, 255, 0.128)));
  background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%);
}

.hotel-slider__button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 30px;
  height: 30px;
  z-index: 2;
  cursor: pointer;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
  background-color: transparent;
}

.hotel-slider__button--prev {
  left: 16px;
  background-image: url(../sass/blocks/hotel/img/arrow-left.svg);
}

.hotel-slider__button--next {
  right: 16px;
  background-image: url(../sass/blocks/hotel/img/arrow.svg);
}

.hotel-booking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.booking {
  padding: 30px;
  width: 350px;
  height: 210px;
  border-radius: 8px;
  background: #0A223D;
}

.booking__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.booking__button {
  margin-top: 17px;
  width: 100%;
  min-height: 45px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
  background-color: #EC1F46;
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.price__start {
  font-size: 10px;
  line-height: 14px;
  color: #FFFFFF;
}

.price__pricetag {
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  color: #FFFFFF;
}

.price__per-room {
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
}

.room__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
}

.room__description {
  margin-left: 9px;
}

.call-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 9px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.call-center__text {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.call-center__call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.call-center__call-number {
  margin-left: 8px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

#map {
  width: 347px;
  height: 213px;
  border-radius: 8px;
  overflow: hidden;
}

.newsletter {
  position: relative;
  padding: 98px 0 87px 0;
  height: 260px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: transparent;
}

.newsletter:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  content: '';
  background: rgba(10, 34, 61, 0.8);
}

.newsletter__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: auto;
  max-width: 731px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.newsletter__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
}

.newsletter__strong {
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
  text-transform: uppercase;
}

.newsletter__subscribe {
  position: relative;
  width: 350px;
  height: 55px;
  overflow: hidden;
  border-radius: 4px;
}

.newsletter__subscribe-input {
  padding-left: 33px;
  padding-right: 75px;
  width: 100%;
  height: 100%;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  border: none;
  color: #333333;
  background-color: #F5FAFE;
}

.newsletter__subscribe-button {
  position: absolute;
  min-width: 65px;
  height: 100%;
  top: 0;
  right: 0;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  border: none;
  cursor: pointer;
  color: #FFFFFF;
  background-color: #EC1F46;
}

.reviews {
  padding: 40px 0 40px 0;
  background-color: #F5FAFE;
}

.reviews__title {
  margin: 0;
  margin-bottom: 70px;
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}

.reviews-slider__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 45px auto 0;
  padding: 0 62px 30px;
  max-width: 730px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  background-color: #FFFFFF;
}

.reviews-slider__item::before {
  position: absolute;
  top: 13px;
  left: 64px;
  width: 70px;
  height: 48px;
  content: '';
  background-repeat: no-repeate;
  background-image: url(../sass/blocks/reviews/img/quote.png);
}

.reviews-slider__item::after {
  position: absolute;
  top: 118px;
  right: 60px;
  width: 70px;
  height: 48px;
  content: '';
  background-repeat: no-repeate;
  background-image: url(../sass/blocks/reviews/img/quote.png);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.reviews-slider__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -45px;
  margin-bottom: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews-slider__text-review {
  margin: 0;
  max-width: 537px;
  font-size: 12px;
  line-height: 160%;
  text-align: justify;
  color: #333333;
}

.reviews-slider__button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 30px;
  height: 30px;
  z-index: 2;
  cursor: pointer;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
  background-color: transparent;
}

.reviews-slider__button--prev {
  left: 0;
  background-image: url(../sass/blocks/reviews/img/arrow.svg);
}

.reviews-slider__button--next {
  right: 0;
  background-image: url(../sass/blocks/reviews/img/arrow-right.svg);
}

.profile__avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.profile__user {
  margin: 0;
  margin-top: 8px;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #EC1F46;
}

.profile__date {
  margin-top: 8px;
  font-size: 10px;
  line-height: 13px;
  color: #333333;
}

.activities {
  padding: 60px 0 98px 0;
  background-color: #F5FAFE;
}

.activities__title {
  margin: 0;
  margin-bottom: 57px;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: #333333;
}

.activities__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 24px 26px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 255px;
  height: 255px;
  border-radius: 6px;
  overflow: hidden;
}

.card::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  content: '';
  border-radius: inherit;
  background: linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #0A223D 99.85%);
}

.card__image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__title {
  margin-top: auto;
  margin-bottom: 18px;
  max-width: 200px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  z-index: 2;
  color: #FFFFFF;
}

.card__button {
  min-width: 100px;
  min-height: 30px;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  z-index: 2;
  color: #FFFFFF;
  background-color: #EC1F46;
}

.footer {
  background-color: #0A223D;
  color: #FFFFFF;
  padding-top: 103px;
  padding-bottom: 51px;
}

.footer__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 166px 100px 6fr 40px 8fr 40px 6fr;
      grid-template-columns: 166px 100px 6fr 40px 8fr 40px 6fr;
  grid-gap: 20px;
  grid-auto-rows: minmax(40px, auto);
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.footer__title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer__ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer__item {
  font-size: 14px;
  line-height: 160%;
  color: #BDBDBD;
}

.footer__link {
  text-decoration: none;
  color: inherit;
}

.footer__logo {
  width: 166px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.footer__categories {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / 4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
}

.footer__information {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5 / 6;
}

.footer__social-network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 4;
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-column: 5 / 8;
}

.footer__title--inline {
  margin: 0 43px 0 0;
}

.footer__social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 83px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__legal {
  -ms-grid-column: 7;
  -ms-grid-column-span: 1;
  grid-column: 7 / 8;
}

.footer__contact-details {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
}

.footer__title--mb-24 {
  margin-bottom: 24px;
}

.footer__text {
  margin: 0;
}

.footer__icon-wrapper {
  min-width: 40px;
}

.footer__item--mt-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 20px;
}

.footer__contact-form {
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-column: 5 / 8;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__input {
  margin-top: 18px;
  margin-bottom: 15px;
  padding: 0 23px;
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
  height: 50px;
  font-size: 12px;
  line-height: 15px;
  border: none;
  border-radius: 4px;
  color: #BDBDBD;
  background-color: #FFFFFF;
}

.footer__message {
  margin-bottom: 22px;
  padding: 18px 23px;
  height: 123px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  font-size: 12px;
  line-height: 15px;
  border: none;
  border-radius: 4px;
  resize: none;
  color: #BDBDBD;
  background-color: #FFFFFF;
}

.footer__button {
  padding: 18px;
  min-width: 160px;
  min-height: 50px;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #FFFFFF;
  background-color: #EC1F46;
}

.footer__info {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #BDBDBD;
}

.footer__policy {
  margin-top: 95px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.footer__policy-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  grid-auto-rows: minmax(40px, auto);
}

.footer__policy-link {
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
  color: #FFFFFF;
}

.footer__policy-link:nth-child(even) {
  margin-left: 11px;
  margin-right: 11px;
}

.footer__policy-image {
  min-width: 136px;
  text-align: right;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .hotel-slider {
    width: 590px;
  }
  .hotel-slider__image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .card {
    width: 230px;
    height: 230px;
  }
  .footer__wrapper {
    -ms-grid-columns: 166px 20px 6fr 20px 9fr 20px 7fr;
        grid-template-columns: 166px 20px 6fr 20px 9fr 20px 7fr;
  }
}

@media (max-width: 992px) {
  .container,
  .newsletter__wrapper {
    max-width: 700px;
  }
  .navbar-top {
    padding: 30px 0;
  }
  .navbar-top__search {
    margin-left: auto;
  }
  .navbar-top__search-input {
    width: 340px;
  }
  .logo {
    max-width: 132px;
  }
  .navbar-menu {
    padding: 22px 0;
  }
  .navbar-menu__link {
    font-size: 12px;
    line-height: 15px;
  }
  .hotel-grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hotel-slider {
    width: 100%;
    margin-bottom: 30px;
  }
  .hotel-booking {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .booking {
    width: 350px;
  }
  #map {
    width: 335px;
    height: 210px;
  }
  .reviews-slider__item {
    max-width: 580px;
  }
  .activities {
    padding: 30px 0 50px;
  }
  .activities__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .card {
    margin-bottom: 20px;
    width: 338px;
    height: 255px;
  }
  .footer {
    padding-top: 73px;
    padding-bottom: 33px;
  }
  .footer__wrapper {
    -ms-grid-columns: 3fr 18px 5fr 18px 4fr;
        grid-template-columns: 3fr 18px 5fr 18px 4fr;
    grid-row-gap: 60px;
    grid-column-gap: 10px;
  }
  .footer__logo {
    width: 104px;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    grid-column: span 2;
  }
  .footer__social-network {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    grid-column: span 4;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .footer__categories {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .footer__information {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
  }
  .footer__legal {
    -ms-grid-column: 5;
    -ms-grid-column-span: 1;
    grid-column: 5/ 6;
  }
  .footer__contact-details {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
  }
  .footer__contact-form {
    -ms-grid-row: 4;
    grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
  }
  .footer__policy {
    margin-top: 56px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .footer__policy-links {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer__policy-image {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
}

@media (max-width: 768px) {
  body {
    padding-top: 80px;
  }
  body.no-scroll {
    overflow-y: hidden;
  }
  .container {
    max-width: 576px;
    width: 90%;
  }
  .navbar--mobile-fixed {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
  }
  .navbar-top {
    padding: 28px 0;
  }
  .navbar-top__search--mobile-hidden, .navbar-top__user--mobile-hidden {
    display: none;
  }
  .navbar-top__search--mobile-visible, .navbar-top__user--mobile-visible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar-top__search--mobile-visible {
    margin-bottom: 19px;
  }
  .navbar-top__menu-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    width: 16px;
    height: 11px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border: none;
    cursor: pointer;
    background-color: #FFFFFF;
  }
  .navbar-top__menu-button-line {
    width: 16px;
    height: 1px;
    background-color: #333333;
  }
  .navbar-top__user {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar-top__user-name--light {
    margin-top: 20px;
    margin-bottom: 7px;
    margin-left: 0;
    color: #FFFFFF;
  }
  .navbar-top__user-avatar--mr-0 {
    margin-right: 0;
  }
  .navbar-menu {
    position: fixed;
    display: none;
    padding: 31px 38px 68px 38px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 80px;
  }
  .navbar-menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar-menu__item {
    margin-bottom: 20px;
  }
  .navbar-menu__item--mobile-visible {
    display: block;
  }
  .navbar-menu--visible {
    display: block;
    height: 100%;
  }
  .hotel {
    padding-top: 0;
    padding-bottom: 40px;
  }
  .hotel-info__text {
    width: 100%;
  }
  .hotel-info__rating {
    display: none;
  }
  .hotel-wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hotel-wrapper__stars {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
  .hotel-wrapper__hotel-name {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-top: 10px;
  }
  .hotel-wrapper__offer {
    margin-left: 0;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .hotel-slider {
    height: 350px;
  }
  .hotel-booking {
    min-height: 450px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .booking {
    marging-top: 20px;
    width: 100%;
  }
  #map {
    margin-top: 20px;
    width: 100%;
  }
  .newsletter {
    padding: 76px 0 83px 0;
    height: 319px;
  }
  .newsletter__wrapper {
    max-width: 576px;
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .newsletter__title {
    margin-bottom: 37px;
  }
  .reviews {
    padding-bottom: 30px;
  }
  .reviews__title {
    margin-bottom: 50px;
    font-size: 30px;
    line-height: 23px;
  }
  .reviews-slider__item {
    padding: 0 30px 30px;
  }
  .reviews-slider__item::after, .reviews-slider__item::before {
    display: none;
  }
  .reviews-slider__button {
    top: 32px;
  }
  .reviews-slider__button--prev {
    margin-left: -65px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .reviews-slider__button--next {
    margin-right: -65px;
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  .activities {
    padding: 20px 0 30px 0;
  }
  .activities__title {
    margin-bottom: 36px;
    font-size: 24px;
    line-height: 23px;
  }
  .activities__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .card {
    margin-bottom: 20px;
    width: 100%;
  }
  .footer__input {
    margin-top: 0;
    margin-bottom: 15px;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (max-width: 576px) {
  .logo {
    max-width: 99px;
  }
  .hotel-slider {
    height: 180px;
  }
  .reviews {
    padding-bottom: 20px;
  }
  .reviews__title {
    margin-bottom: 42px;
    font-size: 18px;
  }
  .activities__title {
    font-size: 18px;
  }
  .card {
    margin-bottom: 28px;
  }
  .footer {
    padding-top: 69px;
    padding-bottom: 21px;
  }
  .footer__wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-row-gap: 30px;
  }
  .footer__logo {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .footer__social-network {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .footer__title--inline {
    margin-right: 0;
    margin-bottom: 22px;
  }
  .footer__social-links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 83px;
  }
  .footer__legal {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .footer__information {
    -ms-grid-row: 4;
    grid-row: 4;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .footer__categories {
    -ms-grid-row: 5;
    grid-row: 5;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .footer__contact-details {
    -ms-grid-row: 6;
    grid-row: 6;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .footer__contact-form {
    -ms-grid-row: 7;
    grid-row: 7;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .footer__policy {
    margin-top: 30px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .footer__policy-links {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer__policy-image {
    margin-top: 10px;
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    grid-column: 1;
    text-align: left;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .navbar-top__search--mobile-visible {
    width: 100%;
  }
  .navbar-menu__item--mobile-width-100 {
    width: 100%;
  }
  .newsletter__title {
    font-size: 20px;
    line-height: 25px;
  }
  .newsletter__strong {
    font-size: 30px;
    line-height: 38px;
  }
  .newsletter__subscribe {
    width: 100%;
  }
  .reviews__title {
    font-size: 18px;
    line-height: 23px;
  }
}
