@media ( max-width: 1200px )
  .container
    max-width: 960px
  // Hotel slider
  .hotel-slider
    width: 590px
    // Slide image
    &__image
      width: 100%
      height: 100%
      object-fit: cover
  // Activity card
  .card
    width: 230px
    height: 230px
  // Footer
  .footer
    &__wrapper
      grid-template-columns: 166px 20px 6fr 20px 9fr 20px 7fr
  .modal
    &__button
      margin-bottom: 33px
    &__info
      margin-bottom: 33px

@media ( max-width: 992px )
  .container,
  .newsletter__wrapper
    max-width: 700px
  // Top of the navigation bar
  .navbar-top
    padding: 30px 0
    &__search
      margin-left: auto
    &__search-input
      width: 340px
  // Logo in the navigation bar
  .logo
    max-width: 132px
  // Bootom of the navigation bar
  .navbar-menu
    padding: 22px 0
    &__link
      font-size: 12px
      line-height: 15px
  .hotel-grid
    flex-direction: column
  // Hotel slider
  .hotel-slider
    width: 100%
    margin-bottom: 30px
  // Hotel booking
  .hotel-booking
    flex-direction: row
  // Hotel booking
  .booking
    width: 350px
  // Geo map
  #map
    width: 335px
    height: 210px
  // Reviews
  .reviews
    &__title
      font-size: 30px
  // Reviews slider
  .reviews-slider
    &__item
      max-width: 580px
  // Activity block
  .activities
    padding: 30px 0 50px
    &__wrapper
      flex-wrap: wrap
  // Activity card
  .card
    margin-bottom: 20px
    width: 338px
    height: 255px
  // Footer
  .footer
    padding-top: 73px
    padding-bottom: 33px
    // Footer wrapper
    &__wrapper
      grid-template-columns: 3fr 18px 5fr 18px 4fr
      grid-row-gap: 60px
      grid-column-gap: 10px
    // Footer Logo
    &__logo-link
      width: 104px
      grid-row: 1 / 2
      grid-column: span 2
    // Social network block
    &__social-network
      grid-row: 1 / 2
      grid-column: span 4
      align-self: center
    // All categories block
    &__categories
      grid-row: 2 / 3
      grid-column: 1 / 2
    // Additional information block
    &__information
      grid-column: 3 / 4
    // Legal information block
    &__legal
      grid-column: 5/ 6
    // Contact details block
    &__contact-details
      grid-row: 3
      grid-column: 1 / 5
    // Contact form block
    &__contact-form
      grid-row: 4
      grid-column: 1 / 5
    // Policy block
    &__policy
      margin-top: 56px
      grid-template-columns: repeat(2, 1fr)
    // Policy links
    &__policy-links
      grid-column: 1 / 2
      justify-content: flex-start
    // Payment systems images
    &__policy-image
      grid-column: 2 / 3
  // Modal window
  .modal
    // Window
    &__dialog
      padding: 33px 58px
    &__dialog-guts
      padding: 33px 58px

@media ( max-width: 768px )
  body
    padding-top: 80px
  body.no-scroll
    overflow-y: hidden
  .container
    max-width: 576px
    width: 90%
  .navbar--mobile-fixed
    position: fixed
    left: 0
    right: 0
    top: 0
    z-index: 100
  // Top of the navigation bar
  .navbar-top
    padding: 28px 0
    &__search--mobile-hidden, &__user--mobile-hidden
      display: none
    &__search--mobile-visible, &__user--mobile-visible
      display: flex
    &__search--mobile-visible
      margin-bottom: 19px
    &__menu-button
      display: flex
      padding: 0
      width: 16px
      height: 11px
      flex-direction: column
      align-items: center
      justify-content: space-between
      border: none
      cursor: pointer
      background-color: $light
    &__menu-button-line
      width: 16px
      height: 1px
      background-color: $text-color
    &__user
      flex-direction: column
    &__user-name--light
      margin-top: 20px
      margin-bottom: 7px
      margin-left: 0
      color: $light
    &__user-avatar--mr-0
      margin-right: 0
  // Bootom of the navigation bar
  .navbar-menu
    position: fixed
    display: none
    padding: 31px 38px 68px 38px
    left: 0
    right: 0
    bottom: 0
    top: 80px
    &__list
      flex-direction: column
    &__item
      margin-bottom: 20px
    &__item--mobile-visible
      display: block
  .navbar-menu--visible
    display: block
    height: 100%
  // Hotel block
  .hotel
    padding-top: 0
    padding-bottom: 40px
  // Hotel info block
  .hotel-info
    &__text
      width: 100%
    &__rating
      display: none
  // Text wrapper block
  .hotel-wrapper
    justify-content: space-between
    &__stars
      flex-basis: auto
    &__hotel-name
      flex-basis: 100%
      margin-top: 10px
    &__offer
      margin-left: 0
      order: -1
  // Hotel slider
  .hotel-slider
    height: 350px
  // Hotel booking
  .hotel-booking
    min-height: 450px
    flex-direction: column
  // Hotel booking
  .booking
    marging-top: 20px
    width: 100%
  // Geo map
  #map
    margin-top: 20px
    width: 100%
  // Newsletter
  .newsletter
    padding: 76px 0 83px 0
    height: 319px
    &__wrapper
      max-width: 576px
      width: 90%
      flex-direction: column
      align-items: flex-start
    &__title
      margin-bottom: 37px
  // Reviews
  .reviews
    padding-bottom: 30px
    &__title
      margin-bottom: 50px
      font-size: 30px
      line-height: 23px
  // Reviews slider
  .reviews-slider
    &__item
      padding: 0 30px 30px
      &::after, &::before
        display: none
    &__button
      top: 32px
    &__button--prev
      margin-left: -65px
      left: 50%
      transform: translateX(-50%)
    &__button--next
      margin-right: -65px
      right: 50%
      transform: translateX(50%)
  // Activity block
  .activities
    padding: 20px 0 30px 0
    &__title
      margin-bottom: 36px
      font-size: 24px
      line-height: 23px
    &__wrapper
      flex-wrap: wrap
  // Activity card
  .card
    margin-bottom: 20px
    width: 100%
  // Footer
  .footer
    // Contact form inputs
    &__input-wrapper
      flex-wrap: wrap
    &__input-group
      margin-top: 0
      flex-basis: 100%
    &__input-group + &__input-group
      margin-left: 0
    &__input
      margin-top: 15px
      margin-bottom: 0
    &__message
      margin-top: 15
    // Modal window
  .modal
    // Window
    &__button
      margin-top: 15px
      width: 100%
      order: 100
    &__info
      margin-bottom: 0

@media ( max-width: 576px )
  .logo
    max-width: 99px
  // Hotel slider
  .hotel-slider
    height: 180px
  // Reviews
  .reviews
    padding-bottom: 20px
    &__title
      margin-bottom: 42px
      font-size: 18px
  // Activity block
  .activities
    &__title
      font-size: 18px
  // Activity card
  .card
    margin-bottom: 28px
  // Footer
  .footer
    padding-top: 69px
    padding-bottom: 21px
    // Footer wrapper
    &__wrapper
      grid-template-columns: 1fr
      grid-row-gap: 30px
    // Footer Logo
    &__logo-link
      grid-row: 1
      grid-column: 1
    // Social network block
    &__social-network
      flex-direction: column
      grid-row: 2
      grid-column: 1
    // Social network title
    &__title--inline
      margin-right: 0
      margin-bottom: 22px
    // Social network links
    &__social-links
      flex-direction: row
      max-width: 83px
    // Legal information block
    &__legal
      grid-row: 3
      grid-column: 1
    // Additional information block
    &__information
      grid-row: 4
      grid-column: 1
    // All categories block
    &__categories
      grid-row: 5
      grid-column: 1
    // Contact details block
    &__contact-details
      grid-row: 6
      grid-column: 1
    // Contact form block
    &__contact-form
      grid-row: 7
      grid-column: 1
    // Policy block
    &__policy
      margin-top: 30px
      grid-template-columns: 1fr
    // Policy links
    &__policy-links
      grid-row: 1
      grid-column: 1
      justify-content: flex-start
    // Payment systems images
    &__policy-image
      margin-top: 10px
      grid-row: 2
      grid-column: 1
      text-align: left
  // Modal window
  .modal
    // Window
    &__dialog
      padding: 33px 40px
    &__dialog-guts
      padding: 33px 40px

@media ( min-width: 320px ) and ( max-width: 480px )
  // Top of the navigation bar
  .navbar-top
    &__search--mobile-visible
      width: 100%
  // Bootom of the navigation bar
  .navbar-menu
    &__item--mobile-width-100
      width: 100%
  // Newsletter
  .newsletter
    &__title
      font-size: 20px
      line-height: 25px
    &__strong
      font-size: 30px
      line-height: 38px
    &__subscribe
      width: 100%
  // Reviews
  .reviews
    &__title
      font-size: 18px
      line-height: 23px
