*
  box-sizing: border-box

body
  font-family: "Mulish", sans-serif
  background-color: $secondary-color
  color: $text-color

.container
  max-width: 1110px
  margin: auto
// Чтобы картинка не выходила за границы родительского блока
img
  max-width: 100%

.booking
  font-family: "Nunito", sans-serif

.invalid
  font-size: 12px
  font-weight: bold
  color: $primary-color

// #email-error
//   position: absolute
