.footer
  background-color: $dark
  color: $light
  padding-top: 108px
  padding-bottom: 46px
  &__title
    margin: 0
    font-weight: bold
    font-size: 18px
    line-height: 23px
    color: $light
  &__ul
    padding: 0
    margin: 0
    list-style: none
  &__item
    font-size: 14px
    line-height: 160%
  &__link
    text-decoration: none
    color: $footer-text
  &__input
    padding-left: 23px
    padding-right: 23px
    width: 255px
    height: 50px
    font-size: 12px
    line-height: 15px
    border: none
    border-radius: 4px
    color: $footer-text
    background-color: $light
  &__message
    padding: 18px 23px
    width: 539px
    height: 123px
    font-size: 12px
    line-height: 15px
    border-radius: 4px
    color: $footer-text
    background-color: $light
  &__button
    min-width: 160px
    min-height: 50px
    font-weight: bold
    font-size: 12px
    line-height: 15px
    border: none
    border-radius: 4px
    cursor: pointer
    color: $footer-text
    background-color: $primary-color
  &__info
    font-weight: bold
    font-size: 12px
    line-height: 15px
    color: $footer-text
