.footer
  background-color: $dark
  color: $light
  padding-top: 108px
  padding-bottom: 46px
  &__wrapper
    display: grid
    grid-template-columns: 166px 100px 6fr 40px 8fr 40px 6fr
    grid-gap: 20px
    grid-auto-rows: minmax(40px, min-content)
    align-items: start
  &__title
    margin: 0
    margin-bottom: 16px
    font-weight: bold
    font-size: 18px
    line-height: 23px
    text-transform: uppercase
    color: $light
  &__item
    font-size: 14px
    line-height: 160%
    color: $footer-text-color
  &__link
    text-decoration: none
    color: inherit
  &__logo
    width: 166px
    grid-row: 1 / 3
    grid-column: 1 / 2
    align-self: stretch
  &__categories
    grid-row: 1 / 4
    grid-column: 3 / 4
  &__information
    grid-column: 5 / 6
  &__social-network
    display: flex
    grid-row: 2 / 4
    grid-column: 5 / 8
  &__social-links
    display: flex
    align-items: center
    min-width: 83px
    justify-content: space-between
  &__legal
    grid-column: 7 / 8
  &__contact-details
    grid-column: 1 / 4
  &__title--mb-24
    margin-bottom: 24px
  &__text
    margin-top: 0
    margin-bottom: 22px
  &__icon-wrapper
    min-width: 40px
  &__item--mb-2
    display: flex
    align-items: flex-start
    margin-bottom: 20px
  &__contact-form
    grid-column: 5 / 8
  &__title--inline
    margin: 0 43px 0 0
  &__ul
    padding: 0
    margin: 0
    list-style: none
  &__form
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap
  &__input
    margin-top: 18px
    margin-bottom: 15px
    padding: 0 23px
    flex-basis: 48%
    height: 50px
    font-size: 12px
    line-height: 15px
    border: none
    border-radius: 4px
    color: $footer-text-color
    background-color: $light
  &__message
    margin-bottom: 22px
    padding: 18px 23px
    height: 123px
    flex-basis: 100%
    font-size: 12px
    line-height: 15px
    border: none
    border-radius: 4px
    resize: none
    color: $footer-text-color
    background-color: $light
  &__button
    padding: 18px
    min-width: 160px
    min-height: 50px
    font-weight: bold
    font-size: 12px
    line-height: 15px
    border: none
    border-radius: 4px
    cursor: pointer
    color: $light
    background-color: $primary-color
  &__info
    font-weight: bold
    font-size: 12px
    line-height: 15px
    color: $footer-text-color
